$primary-1: #f4b027;
$primary-2: #242424;
$primary-3: #454545;
$secondary-1: #ebebeb;
$secondary-2: #707070;
$secondary-3: #d6d6d6;
$secondary-4: #888888;
$secondary-5: #FFE5E5;
$staus-color-green: #31b965;
$staus-color-red: #db1c1c;
$staus-color-yellow: #f4b027;
