<div class="wrap" [formGroup]="form">
  <ng-container [ngSwitch]="formItem.type">
    <div fxLayout="column" fxLayoutGap="3px">
      <mat-label *ngIf="formItem.label">{{ formItem.label }}</mat-label>
      <mat-form-field
        [appearance]="formItem.type === 'file' ? 'standard' : 'outline'"
      >
        <!-- text -->
        <ng-container *ngSwitchCase="'text'">
          <input
            matInput
            type="text"
            [formControlName]="formItem.id"
            [value]="formItem.defaultValue?.value"
          />
        </ng-container>

        <!-- email -->
        <ng-container *ngSwitchCase="'email'">
          <input
            matInput
            type="email"
            [formControlName]="formItem.id"
            [value]="formItem.defaultValue?.value"
          />
        </ng-container>

        <!-- password -->
        <input
          *ngSwitchCase="'password'"
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControlName]="formItem.id"
          [value]="formItem.defaultValue?.value"
        />
        <mat-icon matSuffix (click)="hide = !hide" *ngSwitchCase="'password'">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>

        <!-- select -->
        <ng-container *ngSwitchCase="'select'">
          <!-- <mat-label>Select</mat-label> -->
          <mat-select
            disableRipple
            [formControlName]="formItem.id"
            [multiple]="formItem.multiple"
          >
            <mat-option [value]="null" *ngIf="!formItem.multiple"
              >Please Select</mat-option
            >
            <mat-option
              [value]="menuOption.key"
              *ngFor="let menuOption of formItem.selectMenuOptions"
            >
              {{ menuOption.value }}
            </mat-option>
          </mat-select>
        </ng-container>

        <!-- date -->
        <ng-container *ngSwitchCase="'date'">
          <input
            matInput
            [matDatepicker]="picker"
            [formControlName]="formItem.id"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </ng-container>

        <!-- toggle -->
        <ng-container *ngSwitchCase="'toggle'">
          <input
            class="input-readeOnly"
            [formControlName]="formItem.id"
            matInput
            readonly
            name="name"
          />
          <mat-button-toggle-group
            [formControlName]="formItem.id"
            [multiple]="formItem.multiple"
            matInput
            [name]="formItem.id"
          >
            <mat-button-toggle
              [aria-label]="formItem.id"
              [value]="menuOption.key"
              *ngFor="let menuOption of formItem.selectMenuOptions"
            >
              {{ menuOption.value }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </ng-container>

        <!-- textarea -->
        <ng-container *ngSwitchCase="'textarea'">
          <textarea
            matInput
            [formControlName]="formItem.id"
            [value]="formItem.defaultValue?.value"
            [rows]="formItem.rows"
          ></textarea>
        </ng-container>

        <!-- file -->
        <ng-container *ngSwitchCase="'file'">
          <div class="div-upload">
            <input
              class="input-readeOnly"
              [formControlName]="formItem.id"
              matInput
              readonly
              name="name"
            />

            <button mat-button (click)="fileInput.click()">
              <mat-icon>cloud_upload</mat-icon>
              <span>Upload Image</span>
              <input
                #fileInput
                type="file"
                (change)="uploadFile($event, formItem.id)"
                [style.display]="'none'"
                [accept]="'image/*'"
              />
            </button>
            <div fxLayout="row wrap" fxLayoutGap="15px">
              <div *ngFor="let file of selectedFile; let i = index">
                <mat-chip-list *ngIf="selectedFile.length">
                  <mat-chip>
                    {{ file?.name }}
                    <mat-icon
                      matChipRemove
                      (click)="removeFileByIndex(i, formItem.id)"
                    >
                      cancel</mat-icon
                    >
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Editor -->
        <ng-container *ngSwitchCase="'editor'">
          <input
            class="input-readeOnly"
            matInput
            readonly
            name="editor-input"
          />
          <angular-editor
            [formControlName]="formItem.id"
            [config]="config"
          ></angular-editor>
          <br />
          <mat-error
            *ngIf="
              form.get(formItem.id)?.hasError('required') &&
              form.get(formItem.id)?.touched
            "
            >{{ formItem.label }} is required
          </mat-error>
        </ng-container>

        <!-- Errors -->

        <mat-error *ngIf="form.get(formItem.id)?.hasError('required')"
          >{{ formItem.label }} is required
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('email')"
          >{{ formItem.label }} is not a valid email
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('pattern')">
          {{ formItem.label }} is invalid
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('maxlength')">
          {{ formItem.label }} is too long
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('minlength')">
          {{ formItem.label }} is too short
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('mustMatch')">
          {{ formItem.label }} must match with Password
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('requiredFileType')">
          {{ formItem.label }} must be a valid image file
        </mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</div>
