::ng-deep .mat-form-field-outline-start {
  border-radius: 10px 0 0 10px !important;
  min-width: 10px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 10px 10px 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-disabled .mat-form-field-outline {
  background-color: #f4f4f4;
}

.div-upload {
  // top: -15px;
  // position: absolute;
  .input-readeOnly {
    display: none;
  }

  .mat-icon {
    margin-right: 5px;
  }
}

.form-buttons {
  margin-top: 2rem;
}

.input-readeOnly {
  display: none;
}

::ng-deep .angular-editor-textarea {
  img {
    display: block;
    height: 100% !important;
    object-fit: contain !important;
  }
}

::ng-deep .mat-button-toggle-group {
  border: none;
  .mat-button-toggle {
    border-radius: 1rem;
    border: none;
    margin-right: 10px;
    .mat-button-toggle-button {
      border: 1px solid #707070;
      border-radius: 1rem;
      padding-inline: 1.5rem;
    }
    .mat-button-toggle-label-content {
      padding-inline: 1.5rem;
    }
  }
}
