<div class="wrap" [formGroup]="form">
  <ng-container [ngSwitch]="formItem.type">
    <div fxLayout="column" fxLayoutGap="3px">
      <mat-label *ngIf="formItem.label">{{ formItem.label }}</mat-label>
      <mat-form-field
        [appearance]="formItem.type === 'file' ? 'standard' : 'outline'"
      >
        <!-- text -->
        <input
          *ngSwitchCase="'text'"
          matInput
          type="text"
          [formControlName]="formItem.id"
          [value]="formItem.value"
        />

        <!-- email -->
        <input
          *ngSwitchCase="'email'"
          matInput
          type="email"
          [formControlName]="formItem.id"
          [value]="formItem.value"
        />

        <!-- password -->
        <input
          *ngSwitchCase="'password'"
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControlName]="formItem.id"
          [value]="formItem.value"
        />

        <mat-icon matSuffix (click)="hide = !hide" *ngSwitchCase="'password'">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>

        <!-- select -->
        <mat-select [formControlName]="formItem.id" *ngSwitchCase="'select'">
          <mat-option [value]="null">Please Select</mat-option>
          <mat-option
            [value]="menuOption.key"
            *ngFor="let menuOption of formItem.selectMenuOptions | keyvalue"
          >
            {{ menuOption.value }}
          </mat-option>
        </mat-select>

        <!-- textarea -->
        <textarea
          *ngSwitchCase="'textarea'"
          matInput
          [formControlName]="formItem.id"
          [value]="formItem.value"
        ></textarea>
        <!-- file -->
        <div *ngSwitchCase="'file'" class="div-upload">
          <input
            class="input-readeOnly"
            [formControlName]="formItem.id"
            matInput
            readonly
            name="name"
          />
          <!-- Fetch selected filed on change -->
          <button mat-button (click)="fileInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            <span>Upload Image</span>
            <input
              #fileInput
              type="file"
              (change)="uploadFile($event, formItem.id)"
              [style.display]="'none'"
              [accept]="'image/*'"
            />
          </button>
          <div fxLayout="row wrap" fxLayoutGap="15px">
            <div *ngFor="let file of selectedFile; let i = index">
              <mat-chip-list *ngIf="selectedFile.length">
                <mat-chip>
                  {{ file?.name }}
                  <mat-icon
                    matChipRemove
                    (click)="removeFileByIndex(i, formItem.id)"
                  >
                    cancel</mat-icon
                  >
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>

        <!-- Errors -->
        <mat-error *ngIf="form.get(formItem.id)?.hasError('required')"
          >{{ formItem.label }} is required
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('email')"
          >{{ formItem.label }} is not a valid email
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('pattern')">
          {{ formItem.label }} is invalid
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('mustMatch')">
          {{ formItem.label }} must match with Password
        </mat-error>
        <mat-error *ngIf="form.get(formItem.id)?.hasError('requiredFileType')">
          {{ formItem.label }} must be a valid image file
        </mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</div>
