<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <div>
      <button
        mat-button
        routerLink="/"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"
      >
        Dashboard
      </button>
      <button
        mat-button
        routerLink="/Admins"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"
      >
        Admins
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="PCI"
        #clickHoverMenuTrigger="matMenuTrigger"
      >
        PCI-DSS Requirment
      </button>
      <mat-menu #PCI="matMenu" yPosition="below" xPosition="before">
        <button
          mat-menu-item
          routerLink="/addQuestion"
          routerLinkActive="active"
          routerLinkActiveOptions="{exact: true}"
        >
          Add Question
        </button>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          routerLink="/checkAnswer"
          routerLinkActive="active"
        >
          Check Answer
        </button>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          routerLink="/viewQuestion"
          routerLinkActive="active"
          routerLinkActiveOptions="{exact: true}"
        >
          View Question
        </button>
      </mat-menu>

      <button mat-button>Questions</button>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" />
        <button
          mat-icon-button
          matSuffix
          (click)="(false)"
          [attr.aria-label]="'search label'"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <button mat-icon-button class="icon-button" aria-label="icon-button">
        <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <app-avatar></app-avatar>
    </div>
  </mat-toolbar-row>

  <div class="welcome">
    <app-welcome></app-welcome>
  </div>
</mat-toolbar>
<!--  -->
