@import "variables.scss";

.navbar-items,
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  justify-content: end;
}

.mat-toolbar {
  background-color: $primary-2;
}

.wrap-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.toolbar-row {
  height: fit-content;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  .mat-button {
    margin-right: 10px;
  }
}

.second-row {
  align-items: flex-start;
  height: fit-content;
  justify-content: center;
  margin-block: 10px;
}

.icon-button {
  margin-right: 10px;
}

.active-link {
  background-color: $primary-1;
  color: $primary-2;
  font-weight: bold;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
