<div class="toolbar" fxLayout="column">
  <mat-toolbar>
    <mat-toolbar-row
      class="first-row"
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <!-- start of toolbar row -->

      <!-- logo -->
      <div
        class="logo"
        fxFlex="10%"
        fxFlex.sm="20%"
        fxFlex.xs="30%"
        fxFlexAlign="center center"
      >
        <a routerLink="/">
          <img src="assets/images/logo.svg" alt="logo" />
        </a>
      </div>

      <!-- links -->

      <div
        class="links"
        fxFlex="42%"
        fxShow
        fxHide.lt-md
        fxLayoutAlign="center center"
      >
        <ng-container *ngFor="let link of linkes">
          <button
            mat-button
            [routerLink]="link.routerLink"
            [routerLinkActive]="link.Active"
          >
            {{ link.name }}
          </button>
        </ng-container>

        <!-- <button
          mat-button
          [matMenuTriggerFor]="PCI"
          #clickHoverMenuTrigger="matMenuTrigger"
        >
          PCI-DSS Requirment
        </button> -->
        <!-- <mat-menu #PCI="matMenu" yPosition="below" xPosition="before">
          <button mat-menu-item routerLink="/questions/create">
            Add Question
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/checkAnswer">Check Answer</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/questions">View Question</button>
        </mat-menu> -->
      </div>

      <!-- search bar -->
      <div
        class="search"
        fxFlex="20%"
        fxFlex.lt-md="30%"
        fxShow
        fxHide.lt-sm
        fxLayoutAlign="center center"
      >
        <mat-form-field>
          <input matInput type="text" />
          <button
            mat-icon-button
            matSuffix
            (click)="(false)"
            [attr.aria-label]="'search label'"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- user -->
      <div
        class="user"
        fxFlex="23%"
        fxShow
        fxHide.lt-md
        fxLayoutAlign="center center"
      >
        <button mat-icon-button class="icon-button" aria-label="icon-button">
          <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <app-avatar
          [avatar]="'https://picsum.photos/seed/picsum/300/300'"
        ></app-avatar>
        <app-profile [name]="'ahmed'"></app-profile>
      </div>

      <div class="menu" fxHide fxShow.lt-md>
        <!-- <mat-icon>menu</mat-icon> -->
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
          <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
      </div>

      <!-- end of toolbar row -->
    </mat-toolbar-row>

    <!-- second toolbar -->
    <!-- Category -->
    <mat-toolbar-row
      class="second-row"
      *ngIf="showCategory"
      [fxHide]="sidenav.opened"
    >
      <div class="wrap-category">
        <app-category-card></app-category-card>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- sidenav in small screens -->
  <mat-sidenav-container
    (backdropClick)="close()"
    fxHide.gt-sm
    [fxShow]="sidenav.opened"
    class="sidenav-container"
    ngClass.sm="sidenav-container_sm"
    ngClass.xs="sidenav-container_xs"
  >
    <mat-sidenav
      #sidenav="matSidenav"
      fixedTopGap="60"
      fixedInViewport="false"
      position="start"
      role="navigation"
      class="mat-elevation-z8"
      fxLayout="column"
      fxLayoutGap="30%"
    >
      <mat-nav-list class="linkss" fxLayout="column">
        <ng-container *ngFor="let link of linkes">
          <button
            mat-button
            [routerLink]="link.routerLink"
            [routerLinkActive]="link.Active"
          >
            {{ link.name }}
          </button>
        </ng-container>
        <!-- <button
          mat-button
          [matMenuTriggerFor]="PCI"
          #clickHoverMenuTrigger="matMenuTrigger"
        >
          PCI-DSS Requirment
        </button> -->
        <!-- <mat-menu #PCI="matMenu" yPosition="below" xPosition="before">
          <button mat-menu-item routerLink="/addQuestion">Add Question</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/checkAnswer">Check Answer</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/viewQuestion">
            View Question
          </button>
        </mat-menu> -->
      </mat-nav-list>

      <!-- search bar -->
      <div class="search" fxLayoutAlign="center center" fxHide.sm>
        <mat-form-field>
          <input matInput type="text" />
          <button
            mat-icon-button
            matSuffix
            (click)="(false)"
            [attr.aria-label]="'search label'"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- user -->
      <div class="user" fxShow fxLayoutAlign="center center">
        <button mat-icon-button class="icon-button" aria-label="icon-button">
          <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <app-avatar
          [avatar]="'https://picsum.photos/seed/picsum/300/300'"
        ></app-avatar>
        <app-profile [name]="'ahmed'"></app-profile>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
