@import "variables.scss";
.toolbar {
  .mat-toolbar {
    background: $primary-2;
    padding-inline: 10px;
    justify-content: center;
  }
  .mat-toolbar-row {
    height: 100%;
    padding: 0;
  }
}

.links,
.contact {
  .mat-button {
    position: relative;
    color: gray;
    &:before {
      background-color: #eda24f;
      border-radius: 0px 0px 4px 4px;
      bottom: 5px;
      content: "";
      height: 2px;
      left: 15px;
      opacity: 0;
      position: absolute;
      right: 0px;
      transform-origin: left center;
      transform: scaleX(0);
      transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      visibility: hidden;
      width: auto;
    }
    &:hover {
      &:before {
        transform: scaleX(0.5);
        visibility: visible;
        opacity: 1 !important;
      }
    }
  }
}

.active-link.mat-button {
  color: #eda24f !important;
  font-weight: bold !important;
  font-size: 1rem;
}

.mat-sidenav {
  margin: 16px;
  width: 90%;
  background: $primary-2;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  height: fit-content;

  .mat-button {
    &:hover {
      background: #eda24f;
      color: white;
    }
  }
}

::ng-deep .mat-button-focus-overlay {
  background-color: transparent;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  height: 40vh;
  .search {
    .mat-form-field {
      width: auto;
    }
  }
}

.mat-drawer {
  height: auto;
}

.logo {
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.user {
  .mat-icon-button {
    color: white;
    margin-right: 10px;
  }
}

.menu {
  color: white;
}

.search {
  color: $secondary-5 !important;
  .mat-form-field {
    width: 100%;
    ::ng-deep .mat-form-field-flex {
      border-bottom: 1px solid white !important;
    }
  }
}

.second-row {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.wrap-category {
  margin: auto;
}
