<div class="wrap">
  <div class="card-wrap" fxLayout="row wrap" fxLayoutAlign="center">
    <div
      *ngFor="let item of cards"
      fxFlex="33%"
      fxFlex.sm="50%"
      fxFlex.xs="100%"
      ngClass.lt-md="card-for-sm"
      fxLayoutAlign="center"
    >
      <ng-container *appHasRole="item.role">
        <div
          class="card"
          fxLayout="column"
          fxLayoutGap="10px"
          [routerLink]="item.iconRouter"
        >
          <div class="" fxLayout="row" fxLayoutAlign="center">
            <img class="card-img" [src]="item.img" [alt]="item.title" />
            <div class="icon" fxFlex="50" fxLayoutAlign="end">
              <mat-icon>{{ item.icon }}</mat-icon>
            </div>
          </div>
          <div class="" fxLayout="row" fxLayoutAlign="center">
            <span>{{ item.title }}</span>
          </div>
          <div class="count">
            <span>{{ item.count }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
