@import "variables.scss";

.wrap {
  width: 90%;
  margin: auto;

  .card-wrap {
    margin-top: 2rem;
    .card {
      border: 1px solid $secondary-3;
      border-radius: 20px;
      color: $primary-2;
      background-color: $secondary-3;
      padding: 15px;
      // height: 35vh;
      // width: 20vw;
      margin-inline-start: 20px;
      cursor: pointer;
      .count {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
      }
      .card-img {
        height: auto;
        width: 40%;
      }
    }
  }
}

.card-for-sm {
  .card {
    margin-bottom: 10px;
  }
}
