<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <span>
    <button
      mat-menu-item
      (click)="onDeleteClick()"
      *ngIf="actions?.includes('delete')"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </span>
  <span>
    <button
      mat-menu-item
      (click)="onEditClick()"
      *ngIf="actions?.includes('edit')"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
  </span>
  <span>
    <button
      mat-menu-item
      (click)="onViewClick()"
      *ngIf="actions?.includes('view')"
    >
      <mat-icon>visibility</mat-icon>
      <span>View</span>
    </button>
  </span>
  <button
    mat-menu-item
    (click)="onDetailsClick()"
    *ngIf="actions?.includes('details')"
  >
    <mat-icon>details</mat-icon>
    <span>Details</span>
  </button>
</mat-menu>
