<!-- <div class="wrap" fxLayout="column" fxLayoutAlign="start">
  <div class="create-btn">
    <button mat-button routerLink="/admin/create">
      <mat-icon>create_new_folder</mat-icon>
      Create New Admin
    </button>
  </div>
  <div>
    <app-custom-table
      (action)="onTableAction($event)"
      [dataSource]="datatSet"
      [length]="length"
      [columns]="columns"
      [haveActions]="true"
      [actions]="actions"
      [haveSelect]="true"
      [hasName]="false"
      [name]="'Admin'"
      (pagenatior)="onPaginator($event)"
    ></app-custom-table>
  </div>
</div> -->
