<button
  class="btn-profile"
  mat-button
  [matMenuTriggerFor]="Profile"
  disableRipple="true"
>
  Welcome , {{ name }}
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>
<mat-menu
  #Profile="matMenu"
  yPosition="below"
  xPosition="before"
  overlapTrigger="false"
>
  <button mat-menu-item [routerLink]="['admin/profile']">Profile</button>
  <!-- <button mat-menu-item [routerLink]="['/certificate']">Certificate</button> -->
  <button mat-menu-item>Setting</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()"> LogOut</button>
</mat-menu>
