.wrap {
  width: 90%;
  margin: auto;
  margin-block: 1rem;
  .create-btn {
    margin-bottom: 1rem;
    .mat-button {
      border-radius: 20px;
      background-color: #454545;
      padding: 13px;
      color: #fff;
    }
  }
}
