@import "variables.scss";

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  position: absolute;
  width: 100%;
  top: 23rem;
  .content {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
  }
}
