<div class="warp-card" fxLayout="row wrap">
  <mat-card
    class="card"
    *ngFor="let category of categories"
    fxFlex.sm="34%"
    fxFlex.xs="80%"
    fxLayout="column"
  >
    <mat-card-subtitle>{{ category.name }}</mat-card-subtitle>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button disabled>{{ category.prcentage }}%</button>
      <button mat-button class="continue" [routerLink]="[category.routerLink]">
        Continue
      </button>
    </mat-card-actions>
  </mat-card>
</div>
