@import "variables.scss";

.wrap {
  width: 90%;
  margin: auto;
}
.wrap_xs {
  width: 100%;
}
.table-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #242424;
  text-transform: uppercase;
  display: inline-block;
  margin-block: 1rem;
}
.table-data {
  position: relative;
  height: 300px;
  overflow: auto;
}

.no-record {
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 2rem;
  tr {
    margin-block: 1rem;
  }
}

// .mat-column-select,
// .mat-column-action,
// .mat-column-statues {
//   flex: 0 0 10%;
// }

.mat-header-row {
  background-color: #242424;
  border-radius: 15px;
  .mat-header-cell {
    color: #fff;
    ::ng-deep .mat-sort-header-arrow {
      color: #fff;
    }
  }
}

::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $primary-1;
  }
}

::ng-deep .mat-checkbox.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: $primary-1 !important;
  }
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary-1;
}

::ng-deep .mat-checkbox-inner-container {
  height: 25px !important;
  width: 25px !important;
  border-radius: 3px;
  background: white;
}

.active {
  color: $staus-color-green;
}
.waiting {
  color: $staus-color-yellow;
}
.not_active {
  color: $staus-color-red;
}

// mat-table {
//   display: flex !important;
//   flex-direction: row !important;
// }

// mat-row,
// mat-header-row {
//   flex-direction: column !important;
// }
