<div class="wrap" fxLayout="column" fxLayoutAlign="start">
  <div class="create-btn" *ngIf="hasCreateButton">
    <button mat-button (click)="createPage()">
      <mat-icon>create_new_folder</mat-icon>
      Create New {{ name }}
    </button>
  </div>
  <div>
    <div
      class="table-wrap"
      fxLayout="column"
      ngClass.lt-md="table-wrap_xs"
      [ngStyle]="{ width: width, 'max-height': height }"
    >
      <span class="table-name" *ngIf="hasName"
        >{{ name }}
        <mat-icon (click)="createPage()">add</mat-icon>
      </span>
      <!-- Action Bar -->
      <div class="table-actionbar">
        <!-- search box -->
        <div class="search-box" *ngIf="hasSearch">
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Search</mat-label>
            <input matInput type="text" (keyup)="applyFilter($event)" />
          </mat-form-field>
        </div>
      </div>

      <!-- Table -->
      <div class="table-data">
        <mat-table [dataSource]="dataSource" matSort fxLayout="column">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select" *ngIf="haveSelect">
            <mat-header-cell *matHeaderCellDef fxFlex="10%">
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" fxFlex="10%">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <!-- Columns -->
          <ng-container
            *ngFor="let column of columns"
            [matColumnDef]="column.columnDef"
          >
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [fxFlex]="
                column.header === ('ID' || 'projectCode') ? '10%' : '50%'
              "
              fxLayoutAlign="start center"
            >
              {{ column.header }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row"
              [fxFlex]="
                column.header === ('ID' || 'projectCode') ? '10%' : '50%'
              "
              fxLayoutAlign="start center"
            >
              <span *ngIf="!column.icon">
                <span *ngIf="column.hasAvatar">
                  <app-avatar [avatar]="row?.avatar"></app-avatar>
                </span>
                {{ column.cell(row) }}
              </span>
              <span *ngIf="column.icon" [class]="column.cell(row)">
                <mat-icon>circle</mat-icon>
              </span>
            </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="action" *ngIf="haveActions">
            <mat-header-cell *matHeaderCellDef fxFlex="7%"
              >Action</mat-header-cell
            >

            <mat-cell
              *matCellDef="let element"
              action-buttons
              [value]="element"
              [actions]="actionsBtn"
              (buttonAction)="onTableAction($event)"
              fxFlex="7%"
            >
            </mat-cell>
          </ng-container>

          <!-- Header and Row Declarations -->
          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <!-- No Data Column -->
        <table class="no-record">
          <tr *ngIf="!dataSource.data.length">
            <td style="text-align: center">No {{ name }} Found!</td>
          </tr>
        </table>
      </div>

      <app-paginator
        [length]="length"
        (pagenatior)="onPageChange($event)"
      ></app-paginator>
    </div>
  </div>
</div>
