<div class="welcome container">
  <div class="welcome-text">Welcome To PCI</div>
  <div class="welcome-des">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ab omnis
    neque, culpa provident labore veritatis ad perspiciatis similique et sint
    modi velit maxime doloremque voluptates animi accusamus quidem quae?
  </div>
  <div class="row btn-wrap">
    <div class="col">
      <button mat-button>Check Update Errors</button>
    </div>
    <div class="col">
      <button mat-button>Final Report</button>
    </div>
    <div class="col">
      <button mat-button>Export</button>
    </div>
  </div>
</div>
