<div class="wrap" fxLayout="column" fxLayoutAlign="start">
  <div class="header">
    <div class="content" fxLayout="column">
      <p class="title">{{ name || "certificate Name" }}</p>
      <div fxLayout="row">
        <span fxFlex="60%">
          {{ description || "description" }}
        </span>
      </div>
    </div>
  </div>

  <div class="warp-card" fxLayout="row wrap">
    <mat-card
      class="card"
      fxFlex.sm="34%"
      fxFlex.xs="80%"
      fxLayout="column"
      fxLayoutAlign="space-between start"
      *ngFor="let item of info"
    >
      <mat-card-subtitle>{{ item.name }}</mat-card-subtitle>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button class="disabled-btn" (click)="scroll(item.scroll)">
          {{ item.description }}
        </button>
        <!-- <button mat-button class="continue" [routerLink]="item.routerLink">
          Continue
        </button> -->
      </mat-card-actions>
    </mat-card>
  </div>

  <div id="question">
    <app-list-question
      [hasCreateButtonIn]="false"
      [idIn]="id"
    ></app-list-question>
  </div>

  <div id="project">
    <app-list-project
      [hasCreateButtonIn]="false"
      [idIn]="id"
    ></app-list-project>
  </div>
</div>
