<div class="welcome">
  <div class="welcome-text">Welcome To PCI</div>
  <div class="welcome-des" fxLayout="row">
    <span fxFlex="50%" fxFlex.sm="80%" fxFlex.xs="100%">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ab omnis
      neque, culpa provident labore veritatis ad perspiciatis similique et sint
      modi velit maxime doloremque voluptates animi accusamus quidem quae?
    </span>
  </div>
  <div class="row btn-wrap">
    <div class="col">
      <button mat-button routerLink="/check-errors">Check Update Errors</button>
    </div>
    <div class="col">
      <button mat-button>Final Report</button>
    </div>
    <div class="col">
      <button mat-button>Export</button>
    </div>
  </div>
</div>
