<div class="container wrap">
  <!-- List Name -->
  <div class="list-name">
    <span>{{ list }}</span>
  </div>

  <!-- questions -->
  <div
    class="question"
    *ngFor="let question of questions.data; trackBy: trackByFn"
    fxLayout="column"
  >
    <!-- question details -->
    <ng-container>
      <app-question [question]="question"></app-question>
    </ng-container>

    <!-- question comments history -->
    <ng-container>
      <app-acceptance-history></app-acceptance-history>
    </ng-container>

    <!-- question add comment for not accept answer -->
    <ng-container>
      <app-add-comment [questionId]="question.id"></app-add-comment>
    </ng-container>
  </div>

  <!-- pagenatior -->
  <!-- Table pagination -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    (page)="getServerData($event)"
  >
  </mat-paginator>

  <!-- <mat-paginator
    #paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
    [length]="totalSize"
    [pageIndex]="currentPage"
    (page)="handlePage($event)"
  >
  </mat-paginator> -->
</div>
